:root {
  font-family: Atial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a:visited {
  color: #fff
}

li {
  list-style: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.body {
  display: flex;
  flex-direction: column;
}
.body-lock {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.define-logo {
  display: none;
}

.header {
  display: flex;
  width: 100%;
  padding: 14px 9px;
}

.logo {
  width: 67px;
  height: 14px;
}

.header-logo {
  margin-left: 8px;
  align-self: center;
  position: relative;
}

.header-icons {
  display: flex;
  margin-left: auto;
  gap: 20px;
}

.header-icons svg path {
  fill: #575757;
}

.main {
  width: 100%;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 21px;
  height: 13px;
  cursor: pointer;
}

.burger span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #575757;
  transition: all 0.3s ease;
  transform-origin: center;
}


.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  color: #fff;
  transition: left 0.5s ease;
  z-index: 9;
  box-sizing: border-box;
}

.sidebar.active {
  left: 0;
}

.sidebar-close {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 21px;
  height: 13px;
  cursor: pointer;
  transform: translateY(-2px);
}

.sidebar-close span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #575757;
  transform-origin: center;
}

.sidebar-close span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.sidebar-close span:nth-child(2) {
  transform: rotate(-45deg) translate(3px, -4px);
}


.sidebar-header {
  display: flex;
  padding: 14px 9px;
  align-items: center;
  gap: 10px;
}

.sidebar-body {
  padding: 45px 9px 9px;
}

.sidebar-logo {
  width: 96px;
  height: 20px;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  margin-bottom: 61px;
}

.sidebar-item {
  color: #000;
  list-style: none;
  font-size: 10px;
}

.sidebar-item span {
  cursor: pointer;
}

.sidebar-item-bold {
  font-weight: 700;
}

.sidebar-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-footer {
  margin-top: auto;
  padding: 26px 9px;
  position: relative;
}

.sidebar-footer-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-footer-button {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sidebar-footer-desktop {
  display: none;
}

.hr {
  width: 100%;
  margin: 0 0 0 -10px;

  top: 0;
  position: absolute;
}

.button {
  border: none;
  outline: none;
  border-radius: 0;
  width: 100%;
  font-size: 10px;
  cursor: pointer;
  color: #fff;
}

.button-primary {
  background: #000;
  padding: 14px 0 15px;
}

.button-secondary {
  background: #B3B3B3;
  padding: 14px 0 15px;
}

.button-outlined {
  border: 1px solid #fff;
  background: transparent;
  padding: 5px 0 4px;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button-link {
  font-size: 10px;
  color: #000;
}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 44px);
}

.background-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.hero-1 {
  background: #020305 image-set(
          url('/src/assets/webp/hero-mobile.webp') type("image/webp"),
          url('/src/assets/hero-mobile.png') type("image/png")
  ) no-repeat;
  background-size: cover;
}

.hero-2 {
  background: #020305 image-set(
          url('/src/assets/webp/fashion-show.webp') type("image/webp"),
          url('/src/assets/fashion-show.png') type("image/png")
  ) no-repeat;
  background-size: cover;
}

.active {
  opacity: 1;
}



.main-heading {
  display: block;
  margin-top: auto;
  font-size: 10px;
  text-align: center;
  line-height: 1.5;
  font-weight: 500;
  z-index: 3;
}

.main-heading a {
  display: block;
  text-decoration: underline;
  color: #fff;
}

.badge {
  background: #000;
  text-align: center;
}

.slider-container {
  position: relative;
  padding: 44px 28px;
}


.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.slider-item {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.slider-item img {
  width: 100%;
  height: auto;
}

.slider-caption {
  margin-top: 10px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;

}

.slider-title {
  display: flex;
  flex-direction: column;
  color: #000;
  text-align: left;
  max-width: 80px;
}

img.slider-icon {
  width: 18px;
  height: 18px;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 11;
}

.slider-prev {
  left: 10px;
}

.slider-next {
  right: 16px;
}

.slider-arrow span {
  position: relative;
  display: block;
  width: 0;
  height: 0;
}
.slider-arrow:focus {
  border: none;
  outline: none;
}

.slider-arrow span::before,
.slider-arrow span::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: #000;
}

.slider-next-bg span::before,
.slider-next-bg span::after,
.slider-prev-bg span::before,
.slider-prev-bg span::after {
  background: #fff;
}

.slider-arrow.slider-prev span::before,
.slider-arrow.slider-prev span::after {
  transform-origin: left center;
}

.slider-arrow.slider-prev span::before {
  transform: rotate(70deg);
}

.slider-arrow.slider-prev span::after {
  transform: rotate(-70deg);
}

.slider-arrow.slider-next span::before,
.slider-arrow.slider-next span::after {
  transform-origin: right center;
}

.slider-arrow.slider-next span::before {
  transform: rotate(-70deg);
}

.slider-arrow.slider-next span::after {
  transform: rotate(70deg);
}


.fashion {
  position: relative;
}

.fashion-bg {
  background: url('/src/assets/fashion-show.png') center calc(-10px) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.fashion-container {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding: 0 26px 39px 26px;
}

.fashion-container h2 {
  margin: 0 0 8px;
  font-size: 15px;
  font-weight: 500;
}

.fashion-container span {
  font-size: 8px;
}

.gallery {
  display: flex;
  flex-direction: column;
}

.gallery-bg {
  background: #020305 image-set(
          url('/src/assets/webp/gallery-image1.webp') type("image/webp"),
          url('/src/assets/gallery-image1.png') type("image/png")
  ) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 427px;
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}

.footer {
  width: 100%;
  background: #000;
  padding: 42px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-main {
  width: 100%;
  padding: 0 50px;
}

.footer-subscribe span {
  display: block;
  font-size: 10px;
  margin-bottom: 25px;
  text-align: center;
}

.footer-subscribe button {
  margin-bottom: 42px;
}

.footer-title {
  margin: 0;
  font-size: 10px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
  padding: 0;
  margin-bottom: 42px;
}

.footer-list li a {
  cursor: pointer;
  color: #fff;
  font-size: 10px;
  display: block;
}

.footer-bottom {
  width: 100%;
  padding: 0 28px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.footer-arrow {
  display: block;
  margin-left: auto;
  font-size: 16px;
  color: #fff;
  padding: 10px;
}

.footer-text {
  color: #777575;
}

.footer-logo {
  display: flex;
  justify-content: space-between;
}

.footer-social {
  cursor: pointer;
}

.footer-bottom-container {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.breaked {
  max-width: 82px;
  margin: 0 auto;
}

.CSG-logo {
  position: relative;
  height: 20px;
}
.CSG-logo span {
  position: absolute;
  right: 4px;
  bottom: 0;
  font-size: 4px;
  color: #B8B8B8;
}

.header-color {
  color: #fff;
  fill: red;
}

.product img {
  width: 100%;
  height: auto;
}

.product-info {
  display: flex;
  justify-content: space-between;
}

.product-title,
.product-price {
  color: #5D4839;
}

.product-price {
  opacity: 0.5;
}

.catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-list {
  padding: 0;
}


.catalog-title {
  font-size: 20px;
  color: #5D4839;
}

.catalog-hr {
  max-width: 300px;
  margin: 0;
}

.catalog-list {
  padding: 0;
}

.catalog-item a {
  color: #5D4839;
}


@media (min-width: 768px) {

  .button {
    height: 50px;
    font-size: 14px;
  }

  .header {
    padding: 85px 106px;
    gap: 31px;
  }

  .header-logo {
    fill: #fff;
    width: 143px;
    height: 30px;
  }

  .header-icons {
    position: relative;
    z-index: 2;
  }

  .header-icons svg path {
    fill: #fff;
  }

  .burger {
    height: 22px;
    width: 33px;
    align-self: center;
    z-index: 2;
  }

  .burger span {
    height: 2px;
  }

  .sidebar {
    width: 500px;
    height: 1080px;
  }

  .sidebar-header {
    padding: 81px 127px 0 77px;
    justify-content: space-between;
  }

  .sidebar-close {
    width: 37px;
    height: 27px;
  }

  .sidebar-close span:nth-child(1) {
    transform: rotate(45deg) translate(7px, 13px);
  }

  .sidebar-close span:nth-child(2) {
    transform: rotate(-45deg) translate(5px, -12px);
  }

  .sidebar-logo {
    width: 239px;
    height: 50px;
  }

  .sidebar-body {
    padding: 63px 68px 0 77px;
  }

  .sidebar-list {
    margin: 0 0 70px;
  }

  .sidebar-item {
    font-size: 14px;
  }

  .sidebar-footer {
    display: none;
  }

  .sidebar-footer-desktop {
    display: block;
    margin: auto 0 28px 28px;
  }

  .sidebar-footer-desktop span {
    color: #000;
  }

  .sidebar-footer-desktop .footer-text {
    font-size: 10px;
    color: #777575;
  }

  .hero {
    position: relative;
    height: 1080px;
    margin-top: -200px;
  }

  .background-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .hero-1 {
    background: #020305 image-set(
            url('/src/assets/webp/hero.webp') type("image/webp"),
            url('/src/assets/hero.png') type("image/png")
    ) no-repeat;
    background-size: unset;
  }

  .hero-2 {
    background: #020305 image-set(
            url('/src/assets/webp/fashion-show-desktop.webp') type("image/webp"),
            url('/src/assets/fashion-show-desktop.png') type("image/png")
    ) no-repeat;
    background-size: unset;
  }

  .active {
    opacity: 1;
  }


  h1 a {
    display: block;
    margin-top: 22px;
    margin-bottom: 22px;
    font-size: 14px;
    color: #fff;
    text-decoration: underline;
  }

  .logo path {
    fill: #fff;
  }

  .slider-track {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    transition: none;
    max-width: 1330px;
    margin: 0 auto;
  }

  .slider-item {
    width: 100%;
    height: auto;
  }

  .slider-prev,
  .slider-next {
    display: none;
  }

  .slider-next-bg,
  .slider-prev-bg {
    display: block;
    position: absolute;
  }

  .slider-next-bg span::before,
  .slider-next-bg span::after,
  .slider-prev-bg span::before,
  .slider-prev-bg span::after {
    width: 70px;
  }
  .slider-next-bg {
    right: 160px;
  }

  .slider-prev-bg {
    left: 90px;
  }

  .slider-prev-bg::before {
    content: '';
    position: absolute;
    top: -50px;
    bottom: -50px;
    left: -10px;
    right: -10px;
    background: transparent;
    z-index: -1;
  }
  .slider-next-bg::before {
    content: '';
    position: absolute;
    top: -50px;
    bottom: -50px;
    left: 55px;
    right: -75px;
    background: transparent;
    z-index: -1;
  }

  .slider-next-bg,
  .slider-prev-bg {
    padding: 10px;
  }

  .fashion {
    position: relative;
  }

  .fashion-container {
    padding: 0 26px 132px 116px;
  }

  .fashion-bg {
    background: #020305 image-set(
            url('/src/assets/webp/fashion-show-desktop.webp') type("image/webp"),
            url('/src/assets/fashion-show-desktop.png') type("image/png")
    ) center no-repeat;
    background-size: cover;
    height: 1080px;
    margin-top: -1px;
  }

  .fashion-container h2 {
    margin: 0 0 16px;
    font-size: 50px;
  }

  .fashion-container span {
    font-size: 14px;
  }

  .gallery {
    flex-direction: row;
    margin-top: -1px;
  }

  .gallery-bg {
    background: #020305 image-set(
            url('/src/assets/webp/gallery-image1.webp') type("image/webp"),
            url('/src/assets/gallery-image1.png') type("image/png")
    ) center no-repeat;

    background-size: cover;
    width: 100%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    margin-top: unset;
  }

  .gallery .slider-container {
    flex: 1 0 58%;
    align-self: center;
  }
  .slider-mobile-only .slider-track {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 400px;
  }

  .slider-mobile-only .slider-track .slider-item:not(:first-of-type) {
    display: none;
  }

  .footer {
    padding: 252px 0 58px 0;
  }

  .footer-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 220px;
    min-height: 200px;
  }

  .footer-sections {
    width: 100%;
    max-width: 718px;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: 51px;
    align-self: flex-end;
  }

  .footer-subscribe {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-subscribe span {
    font-size: 17px;
  }

  .footer-subscribe button {
    max-width: 316px;
  }

  .footer-title {
    font-size: 17px;
    font-weight: 500;
  }

  .footer-section {
    align-items: flex-start;
  }

  .footer-list {
    text-align: left;
  }

  .footer-list {
    gap: unset;
    margin-bottom: 34px;
  }

  .footer-list li a {
    font-size: 14px;
  }

  .footer-social a:nth-child(1) img {
    width: 22px;
    height: 18px;
  }

  .footer-social a:nth-child(2) img {
    width: 32px;
    height: 18px;
  }

  .footer-social a:nth-child(3) img {
    width: 21px;
    height: 21px;
  }

  .footer-bottom {
    font-size: 14px;
  }

  .footer-bottom-container {
    display: grid;
    grid-template-columns: 40fr 50fr;
    gap: unset;
    align-items: center;
  }

  .footer-logo img {
    width: 105px;
  }

  .CSG-logo {
    height: 32px;
  }

  .CSG-logo span {
    font-size: 6px;
    right: 12px;
  }

  .footer-arrow {
    font-size: 20px;
  }

  .breaked {
    max-width: unset;
  }

  .container {
    max-width: 1880px;
    padding: 0 40px;
  }


  .catalog {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .content-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .catalog-categories {
    align-self: flex-start;
  }


}